<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">


	<mvc:annotation-driven />
	<context:component-scan base-package="com.zxl.controller" />
	<!--location元素表示webapp目录下的jsp包下的所有文件；-->
	<!--mapping元素表示以/jsp开头的所有请求路径-->
	<mvc:resources mapping="/jsp/**" location="/jsp/" />
	<!--对URL进行筛查，发现是静态资源的请求，则交给默认servlet处理-->
	<mvc:default-servlet-handler/>
</beans>