<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/jsp/login.html"/> <!--登录页-->
        <!-- 登录成功后要跳转的连接 -->
        <property name="successUrl" value="/jsp/index.html"/>
        <!--访问未授权的页面，要跳转的链接-->
        <property name="unauthorizedUrl" value="/jsp/login.html"/>
        <!--authc 表示必须授权后才能访问-->
        <property name="filterChainDefinitions">
            <value>
                /login.html = anon
                /loginController/login = anon
                /userController/registerUser = anon
                /** = authc
            </value>
        </property>
       <!-- &lt;!&ndash;过滤器&ndash;&gt;
        <property name="filters">
            <map>
                <entry key="rolesMy" value-ref="shiroFilter"/>
            </map>
        </property>-->
    </bean>

     <!-- 安全管理器 -->
     <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
         <property name="realm" ref="myRealm" />
     </bean>
    <!--定义自定义的Realm-->
    <bean id="myRealm" class="com.zxl.tools.ShiroRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>

    <!--设置加密的算法-->
    <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher"
          id="credentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="1"/>
    </bean>
</beans>